#content {
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
  
    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1rem;
      color: rgb(162, 103, 26);;
    }
  
    p {
      font-size: 1.2rem;
      line-height: 1.5;
      color: rgb(162, 103, 26);
    }
  }
  