#section-2{
    background-color: var(--charcoal);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/image.jpg");
    background-size: cover;

    .circle {
        position: relative;
        display: inline-block;
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
      
      .circle {
        position: relative;
        display: inline-block;
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
      
      #pink {
        background-color: rgb(255, 40, 165);
        left: 20px;
      }
      
      #aqua {
        background-color: aqua;
        left: -15px;
      }
      
      #purple {
        background-color: rgb(95, 0, 168);
        left: 60px;
      }
      
      
      
}