/* =============
    Navigation
============= */
nav{
    height: 100%;

    ul{
        height:100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        li{
            margin-left: 4vw;

            a:link, a:visited{

                font-family: "Bai Jamjuree", serif;
                color: rgb(124, 63, 10);
                transition: 0.25s;
                font-size: rem-calc(18);
                font-weight: 300;

                &:hover, &:active{
                    color: rgb(255, 255, 255);
                }
            
            }
        }
    }
}